@model QuanLiThietBi.Domain.Models.TblComponent

@{
    ViewData["Title"] = "Chi tiết linh kiện";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chi tiết linh kiện</h1>

<div>
    <h4>TblComponent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dvt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dvt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Manufacturer)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ComponentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
