@using System.Drawing
@using ZXing
@using ZXing.Common
@model IEnumerable<QuanLiThietBi.Domain.Models.TblProduct>

@{
    ViewData["Title"] = "Quản lý sản phẩm thiết bị";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="dashboard-heading">Quản lý sản phẩm thiết bị</h1>

<p>
    <a asp-action="Create" id="add-category-button" class="btn btn-primary">Thêm sản phẩm</a>
</p>
<div class="table-responsive">
    <table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WarrantyEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>Barcode</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber) 
                        @* <img src="@Url.Action("GenerateBarcode", "Products", new { serialNumber = item.SerialNumber })" alt="Barcode" /> *@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarrantyEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.Description)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-sm btn-info">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-sm btn-primary ml-1">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn bt-sm btn-danger ml-1">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

        th:nth-child(1),
        td:nth-child(1) {
            width: 10%;
        }

        th:nth-child(2),
        td:nth-child(2) {
            width: 10%;
        }

        th:nth-child(3),
        td:nth-child(3) {
            width: 10%;
        }

        th:nth-child(4),
        td:nth-child(4) {
            width: 10%;
        }

        th:nth-child(5),
        td:nth-child(5) {
            width: 10%;
        }

        th:nth-child(6),
        td:nth-child(6) {
            width: 10%;
        }

        th:nth-child(7),
        td:nth-child(7) {
            width: 10%;
        }

        th:nth-child(8),
        td:nth-child(8) {
            width: 10%;
        }

        th:nth-child(9),
        td:nth-child(9) {
            width: 10%;
        }

        th:nth-child(10),
        td:nth-child(10) {
            width: 10%;
        }
</style>