@model IEnumerable<QuanLiThietBi.Domain.Models.TblBorrowing>

@{
    ViewData["Title"] = "Quản lý mượn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Quản lí mượn</h1>

<p>
    <a asp-action="Create">Thêm mượn thiết bị</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Password)
            </td>
            <td>
@*                 @Html.DisplayFor(modelItem => item.Status) *@
                    @if (item.Status == 1)
                    {
                        <span class="badge badge-warning">Đã mượn</span>
                    }
                    else
                    {
                        <span class="badge badge-success">Đã trả</span>
                    }
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.BorrowingId" class="btn btn-sm btn-info">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.BorrowingId" class="btn btn-sm btn-primary ml-1">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.BorrowingId" class="btn bt-sm btn-danger ml-1">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
